body{
    background-image: url(a.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

pre{
    background-color: rgba(240, 248, 255, 0.811);
   
    border-radius: 10%;
    margin-top: 7%;
    
    width: 600px;
    border: 60px;
    border-color: blueviolet;
    align-items: center;  
    text-align: center; 
    margin-top:60px;
    margin-right: 70px;
    border: 10cap;
    border-color: black;
    

    /* display: contents; */
    
}
footer{
    background-size: 600px;
    background-color: aqua;
    margin-top: 800px;
    size: 900px;
    background-color: black;
    color: aliceblue;
    background-attachment: fixed;
    background-size: cover;
    bottom: auto;
    
}
.button{
    color: blueviolet;
}
.main{
    color: blue;
}